<div class="rbm-site-toolbar">
    <p-button class="first" routerLink="/menu-planning">Menüplanung</p-button>
    <p-button routerLink="/menu-planning/my-menus">Meine Menüs</p-button>
    <p-button routerLink="/menu-planning/shopping-list">Einkaufszettel</p-button>
    <p-button routerLink="/offers-overview" class="last">Angebotsliste</p-button>
</div>

<p-toast></p-toast>

<div class="shopping-list-overview">
    <h2 class="rbm-text-sea-green">Einkaufslistenübersicht</h2>
    <br>
    <form [formGroup]="searchForm">
        <div class="rbm-flex-row rbm-gap-s">
            <div class="rbm-flex-column">
                <label for="name">Name</label>
                <input id="name" pInputText formControlName="name" />
            </div>
            <div class="rbm-flex-column">
                <label for="recipe">Rezept</label>
                <input id="recipe" pInputText formControlName="recipe" />
            </div>
            <div class="rbm-flex-column">
                <label for="menuPlan">Menüplan</label>
                <input id="menuPlan" pInputText formControlName="menuPlan" />
            </div>
            <div class="rbm-flex-column">
                <label for="date">Datum</label>
                <p-calendar id="date" formControlName="date" [locale]="de"></p-calendar>
            </div>
        </div>
    </form>
    <br><br>
    <div *ngIf="loading" class="text-center rbm-loading-screen">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <p-table [value]="filteredShoppingLists" class="p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Rezepte</th>
                <th>Menüpläne</th>
                <th>Erstellungsdatum</th>
                <th>Löschen</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-list>
            <tr class="tr-item rbm-pointer" (click)="onRowSelect(list)">
                <td>{{ getMenuPlanNames(list) }}</td>
                <td>{{ getRecipeNames(list) }}</td>
                <td>{{ getMenuPlanDetails(list) }}</td>
                <td>{{ list.createdAt | date:'shortDate' }}</td>
                <td>
                    <p-button icon="pi pi-trash"></p-button>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>