<div class="rbm-site-toolbar">
    <p-button class="first" routerLink="/menu-planning">Menüplanung</p-button>
    <p-button routerLink="/menu-planning/my-menus">Meine Menüs</p-button>
    <p-button routerLink="/menu-planning/shopping-list">Einkaufszettel</p-button>
    <p-button routerLink="/offers-overview" class="last">Angebotsliste</p-button>
</div>

<p-toast></p-toast>

<div class="shopping-list-overview">
    <h1>Shopping List Overview</h1>

    <form [formGroup]="searchForm">
        <div class="p-fluid p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="name">Name</label>
                <input id="name" pInputText formControlName="name" />
            </div>
            <div class="p-field p-col">
                <label for="recipe">Recipe</label>
                <input id="recipe" pInputText formControlName="recipe" />
            </div>
            <div class="p-field p-col">
                <label for="menuPlan">Menu Plan</label>
                <input id="menuPlan" pInputText formControlName="menuPlan" />
            </div>
            <div class="p-field p-col">
                <label for="date">Date</label>
                <p-calendar id="date" formControlName="date"></p-calendar>
            </div>
        </div>
    </form>
    <div *ngIf="loading" class="text-center">
        <p-progressSpinner></p-progressSpinner>
    </div>
    <p-table [value]="filteredShoppingLists">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Recipes</th>
                <th>Menu Plans</th>
                <th>Date Created</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-list>
            <tr (click)="onRowSelect(list)"> <!-- Add click event handler here -->
                <td>{{ getMenuPlanNames(list) }}</td>
                <td>{{ getRecipeNames(list) }}</td>
                <td>{{ getMenuPlanDetails(list) }}</td>
                <td>{{ list.createdAt | date:'shortDate' }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>