<div class="grid">
  <!-- TOP Articles -->
  <div class="col-12 md:col-4">
    <p-card header="TOP Artikel">
      <div *ngIf="topItems!.articles.length > 0; else noArticles">
        <ul class="list p-0 m-0">
          <li
            *ngFor="let item of topItems!.articles; trackBy: trackByName"
            class="list-item"
          >
            <div class="list-item-content">
              <div class="list-item-title">{{ item.name }}</div>
              <div class="list-item-subtitle">
                {{ item.count }} {{ item.unit }}
              </div>
            </div>
          </li>
        </ul>
      </div>
      <ng-template #noArticles>
        <p class="text-center text-500">Keine Daten verfügbar</p>
      </ng-template>
    </p-card>
  </div>

  <!-- TOP Recipes -->
  <div class="col-12 md:col-4">
    <p-card header="TOP Rezepte">
      <div *ngIf="topItems!.recipes.length > 0; else noRecipes">
        <ul class="list p-0 m-0">
          <li
            *ngFor="let item of topItems!.recipes; trackBy: trackByName"
            class="list-item"
          >
            <div class="list-item-content">
              <div class="list-item-title">{{ item.name }}</div>
              <div class="list-item-subtitle">{{ item.count }}x</div>
            </div>
          </li>
        </ul>
      </div>
      <ng-template #noRecipes>
        <p class="text-center text-500">Keine Daten verfügbar</p>
      </ng-template>
    </p-card>
  </div>

  <!-- TOP Menus -->
  <div class="col-12 md:col-4">
    <p-card header="TOP Menüs">
      <div *ngIf="topItems!.menus.length > 0; else noMenus">
        <ul class="list p-0 m-0">
          <li
            *ngFor="let item of topItems!.menus; trackBy: trackByName"
            class="list-item"
          >
            <div class="list-item-content">
              <div class="list-item-title">{{ item.name }}</div>
              <div class="list-item-subtitle">{{ item.count }}x</div>
            </div>
          </li>
        </ul>
      </div>
      <ng-template #noMenus>
        <p class="text-center text-500">Keine Daten verfügbar</p>
      </ng-template>
    </p-card>
  </div>
</div>

<p-toast></p-toast>
