<div class="pt-overlay" *ngIf="isTourActive"></div>
    <p-overlayPanel #overlayPanel 
      [dismissable]="false" 
      [showCloseIcon]="false"
      [style]="{ padding: '0', margin: '0' }">
      <div>
        <p class="ptour-title">{{ currentStep.title }}</p>
        <p class="ptour-beschreibung">{{ currentStep.text }}</p>
        <div class="ptour-btn-box">
          <button class="ptour-btn" (click)="nextStep()">
            <i class="pi pi-arrow-right"></i>
            <span>Weiter</span>
          </button>
          <button class="ptour-btn" (click)="closeTour()">
            <i class="pi pi-times"></i>
            <span>Beenden</span>
          </button>
        </div>
      </div>
    </p-overlayPanel>