@import "../../colors.scss";

.table-header {
  background-color: #77b300; /* Adjust the color to match the image */
  color: white;
  text-align: center;
}
.table-row {
  background-color: #eeeeee; /* Light gray background for rows */
  text-align: center;
  margin-top: 10px;
}
.text-left {
  text-align: left;
  min-width: 150px;
}
.checkmark {
  /* Add styles for checkmark here */
}
.smiley {
  /* Add styles for smiley face here */
}

td, th {
  padding: 10px;
  border: $dark-green 3px solid;
}

th {
  padding: 10px;
  border: white 3px solid;
}
