<div class="container">
  <div style="width: 250px;"></div>
  <div class="sidebar">
   <ul>
    <li><a href="/dashboard">
     <i class="pi pi-home">
     </i>
     Übersicht
    </a></li>
    <li class="active"><a href="/my-recipes">
     <i class="pi pi-book">
     </i>
     Meine Rezepte
    </a></li>
    <li><a href="/menu-planning">
     <i class="pi pi-clipboard">
     </i>
     Meine Menüs
    </a></li>
    <li>
     <i class="pi pi-shop">
     </i>
     Markplatz
    </li>
    <li>
     <i class="pi pi-objects-column">
     </i>
     Bereich X Y
    </li>
   </ul>
  </div>
  <div class="main-content">
    <div class="header">
      <h2>
       Meine Rezepte
      </h2>
      <p-button label="Neues Rezept anlegen" icon="pi pi-plus" (click)="openAddRecipeDialog()"></p-button>
     </div>

    <p-dialog [(visible)]="displayAddRecipeDialog" modal="true" [style]="{width: '80vw', height: '90vh'}"
      [contentStyle]="{overflow: 'auto'}" [resizable]="false" [draggable]="true" [maximizable]="true" [blockScroll]="true"
      [closeOnEscape]="true" [dismissableMask]="true" [focusOnShow]="true" [header]="'Neues Rezept'">

      <app-new-recepie-dialog (closeDialog)="onCloseAddRecipeDialog()"></app-new-recepie-dialog>

    </p-dialog>
    <p-toast></p-toast>
    <!-- <div class="row mb-3 justify-content-end">
      <div class="col-auto">
        <button pButton label="Neuen Menüplan erstellen" icon="pi pi-plus" (click)="onClickCreateMenuPlan()"
          class="p-button-success"></button>
      </div> <p></p>
    </div> -->

    
  
    <div class="filters mb-3 row gx-3 align-items-center">

      <div class="col-md-2 col-sm-6 filter-item">
        <p-dropdown id="sort" [options]="sortOptions" [(ngModel)]="selectedSortOption" (onChange)="onSortChange()"
          class="form-control"></p-dropdown>
      </div>

      <div class="col-md-3 col-sm-6 filter-item rbm-width-40">
        <input pInputText type="text" placeholder="Suche via Name" [(ngModel)]="searchName" (input)="onSearchChange()"
          class="form-control rbm-full-width" />
      </div>
  
      <div class="col-md-3 col-sm-6 filter-item rbm-width-20" >
        <p-calendar id="fromDate" [(ngModel)]="fromDate" dateFormat="yy-mm-dd" (onSelect)="onDateRangeChange()"
          showIcon="true" placeholder="Datum von" class="form-control"></p-calendar>
      </div>
  
      <div class="col-md-3 col-sm-6 filter-item rbm-width-20">
        <p-calendar id="toDate" [(ngModel)]="toDate" dateFormat="yy-mm-dd" (onSelect)="onDateRangeChange()"
          showIcon="true" placeholder="Datum bis" class="form-control"></p-calendar>
      </div>
    </div>
    <div *ngIf="loading" class="text-center">
      <p-progressSpinner></p-progressSpinner>
    </div>
    <div class="recipes" *ngIf="!loading">
  
    <div class="recipe-card"  *ngFor="let recipe of recipes" (click)="viewRecipe(recipe.id)">
     <img [src]="recipe.recipeImage || 'placeholder-image-url.png'" height="150"  width="300"/>
     <div class="recipe-info">
      <h3>
        {{ recipe.recipeName }}
      </h3>
     </div>
    </div>

    <ng-template #noRecipes>
      <div class="alert alert-info text-center" role="alert">
        No recipes found.
      </div>
    </ng-template>

    
   </div>

    <div class="pagination-info text-end mt-3">
      {{ getFromToRange() }}
    </div>

    <p-paginator [rows]="pageSize" [totalRecords]="totalElements" [rowsPerPageOptions]="pageSizes"
    (onPageChange)="onPageChange($event)"></p-paginator>

    <div class="pagination-controls text-end mt-3">
    <button pButton label="Vorherige Seite" icon="pi pi-chevron-left" class="p-button-secondary me-2" (click)="onPrevPage()"
      [disabled]="currentPage === 0"></button>
    <button pButton label="Nächste Seite" icon="pi pi-chevron-right" iconPos="right" class="p-button-secondary"
      (click)="onNextPage()" [disabled]="(currentPage + 1) * pageSize >= totalElements"></button>
    </div>
  </div>
 </div>







<!-- <div class="container-fluid p-5 h-100">
  <p-button label="Neues Rezept anlegen" icon="pi pi-plus" (click)="openAddRecipeDialog()"></p-button>

  <p-dialog [(visible)]="displayAddRecipeDialog" modal="true" [style]="{width: '80vw', height: '80vh'}"
    [contentStyle]="{overflow: 'auto'}" [resizable]="false" [draggable]="true" [maximizable]="true" [blockScroll]="true"
    [closeOnEscape]="true" [dismissableMask]="true" [focusOnShow]="true" [header]="'Neues Rezept'">

    <app-new-recepie-dialog (closeDialog)="onCloseAddRecipeDialog()"></app-new-recepie-dialog>

  </p-dialog>
  <p-toast></p-toast>
  <div class="row mb-3 justify-content-end">
    <div class="col-auto">
      <button pButton label="Neuen Menüplan erstellen" icon="pi pi-plus" (click)="onClickCreateMenuPlan()"
        class="p-button-success"></button>
    </div> <p></p>
  </div>

  <div class="filters mb-3 row gx-3 align-items-center">
    <div class="col-md-3 col-sm-6 filter-item">
      <input pInputText type="text" placeholder="Suche via Name" [(ngModel)]="searchName" (input)="onSearchChange()"
        class="form-control" />
    </div>

    <div class="col-md-2 col-sm-6 filter-item">
      <label for="sort" class="me-2">Sortieren nach:</label>
      <p-dropdown id="sort" [options]="sortOptions" [(ngModel)]="selectedSortOption" (onChange)="onSortChange()"
        class="form-control"></p-dropdown>
    </div>

    <div class="col-md-3 col-sm-6 filter-item">
      <label for="fromDate" class="me-2">Von:</label>
      <p-calendar id="fromDate" [(ngModel)]="fromDate" dateFormat="yy-mm-dd" (onSelect)="onDateRangeChange()"
        showIcon="true" placeholder="Datum von" class="form-control"></p-calendar>
    </div>

    <div class="col-md-3 col-sm-6 filter-item">
      <label for="toDate" class="me-2">Bis:</label>
      <p-calendar id="toDate" [(ngModel)]="toDate" dateFormat="yy-mm-dd" (onSelect)="onDateRangeChange()"
        showIcon="true" placeholder="Datum bis" class="form-control"></p-calendar>
    </div>
  </div>

  <div *ngIf="loading" class="text-center">
    <p-progressSpinner></p-progressSpinner>
  </div>

  <div *ngIf="!loading">
    <div class="row rbm-flex-row rbm-flex-wrap rbm-items-middle">
      <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-4 rbm-width-30" *ngFor="let recipe of recipes">
        <div class="card recipe-card h-100" (click)="viewRecipe(recipe.id)">
          <img [src]="recipe.recipeImage || 'placeholder-image-url.png'" class="card-img-top" alt="Recipe Image">
          <div class="card-body text-center d-flex flex-column justify-content-between">
            <h5 class="card-title">{{ recipe.recipeName }}</h5>
          </div>
        </div>
      </div>
    </div>

    <ng-template #noRecipes>
      <div class="alert alert-info text-center" role="alert">
        No recipes found.
      </div>
    </ng-template>

    <div class="pagination-info text-end mt-3">
      {{ getFromToRange() }}
    </div>

    <p-paginator [rows]="pageSize" [totalRecords]="totalElements" [rowsPerPageOptions]="pageSizes"
      (onPageChange)="onPageChange($event)"></p-paginator>

    <div class="pagination-controls text-end mt-3">
      <button pButton label="Previous" icon="pi pi-chevron-left" class="p-button-secondary me-2" (click)="onPrevPage()"
        [disabled]="currentPage === 0"></button>
      <button pButton label="Next" icon="pi pi-chevron-right" iconPos="right" class="p-button-secondary"
        (click)="onNextPage()" [disabled]="(currentPage + 1) * pageSize >= totalElements"></button>
    </div>
  </div>
</div> -->