<div class="team-member-container ps-4 pe-4 pt-4">
  <div class="row w-100">
    <div class="col-8">
      <app-rbm-input
        label="Vorname"
        [isRequired]="true"
        [type]="'text'"
        [elementName]="'Vorname'"
        [readonly]="true"
        [readonlyValue]="'testName'"
      ></app-rbm-input>
    </div>
    <div class="col-4">
      <!--      <app-rbm-select-->
      <!--        [isRequired]="true"-->
      <!--        [label]="'Nachweise'"-->
      <!--        [readonly]="true"-->
      <!--        [readonlyValue]="'testName'"-->
      <!--        [elementName]="'Nachweise'"-->
      <!--      />-->
    </div>
  </div>
  <div class="row mt-4 w-100">
    <div class="col-8">
      <app-rbm-input
        label="Vorname"
        [isRequired]="true"
        [type]="'text'"
        [elementName]="'Vorname'"
        [readonly]="true"
        [readonlyValue]="'testName'"
      ></app-rbm-input>
    </div>
    <div class="col-4">
      <app-rbm-input
        label="Vorname"
        [isRequired]="true"
        [type]="'text'"
        [elementName]="'Vorname'"
        [readonly]="true"
        [readonlyValue]="'testName'"
      ></app-rbm-input>
    </div>
  </div>

  <div class="trash-icon">
    <img class="pointer" src="assets/img/trash.png" alt="" />
  </div>
</div>
