<div class="container">
  <div class="row">
    <div class="col-6">
      <span class="header-text">Mein Betrieb</span>

      <form [formGroup]="form">
        <div class="d-flex flex-column gap-2">
          <div class="col-6">
            <app-rbm-input
              label="Betriebsname"
              [isRequired]="true"
              [type]="'text'"
              formControlName="myCompany"
              [elementName]="'Firma'"
              [form]="myCompany"
            ></app-rbm-input>
          </div>
          <div class="col-6">
            <app-rbm-input
              label="Markenname"
              [isRequired]="true"
              [type]="'text'"
              formControlName="marketName"
              [elementName]="'Markenname'"
              [form]="marketName"
            ></app-rbm-input>
          </div>
          <div class="col-6">
            <app-rbm-input
              label="Slogan"
              [isRequired]="false"
              [type]="'text'"
              formControlName="slogan"
              [elementName]="'Slogan'"
              [form]="slogan"
            ></app-rbm-input>
          </div>
          <div class="col-6">
            <app-rbm-select
              [isRequired]="true"
              [label]="'Nachweise'"
              [values]="proofData"
              [form]="proof"
              [elementName]="'Nachweise'"
            ></app-rbm-select>
          </div>
        </div>
      </form>
    </div>
    <div class="col-6">
      <span class="header-text">Mein Team</span>
      <button (click)="getForm()">get form</button>
    </div>
  </div>
</div>
