<div class="rbm-site-toolbar">
    <p-button class="first pt-orders1" routerLink="/orders">Meine Bestellungen</p-button>
    <p-button class="last pt-orders2" routerLink="/pr-pi-overview">Preis-/Kaufanfragen</p-button>
</div>
<br><br>

<p-table [value]="orders" responsiveLayout="scroll" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
        <tr>
            <th>Produkt</th>
            <th>Menge</th>
            <th>Preis pro Einheit</th>
            <th>Gesamtpreis</th>
            <th>Status</th>
            <th>Erstellt am</th>
            <th>Details</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order>
        <tr>
            <td>{{ getLocalizedLabelFood(order.productLabel) }}</td>
            <td>{{ order.amount.amount }} {{ getLocalizedLabelUnit(order.amount.unit) }}</td>
            <td>{{ order.pricePerUnit | currency: 'EUR' }}</td>
            <td>{{ order.totalPrice | currency: 'EUR' }}</td>
            <td>{{ getStatusLabel(order.status) }}</td>
            <td>{{ order.dateCreated | date: 'short' }}</td>
            <td>
                <button pButton type="button" label="Ansehen" icon="pi pi-info-circle" class="pt-orders3 p-button-sm p-button-info"
                  (click)="gotoDetails(order)">Details</button>
              </td>
        </tr>
    </ng-template>
</p-table>
