<div class="rbm-site-toolbar">
    <p-button class="first" routerLink="/menu-planning">Menüplanung</p-button>
    <p-button routerLink="/menu-planning/my-menus">Meine Menüs</p-button>
    <p-button routerLink="/menu-planning/shopping-list">Einkaufszettel</p-button>
    <p-button routerLink="/offers-overview" class="last">Angebotsliste</p-button>
</div>
<br><br><br><br><br>

<div *ngIf="loading" class="text-center">
    <p-progressSpinner></p-progressSpinner>
</div>
<p-confirmDialog></p-confirmDialog>
<div *ngIf="menuPlan && !loading" class="menu-plan-detail">


    <div class="rbm-width-100s rbm-flex-row rbm-content-right">
        <p-button label="Menüplan löschen" icon="pi pi-trash" class="p-button-danger"
        (click)="deleteAllEvents()"></p-button>
    </div>
    <p-tabView>
        <p-tabPanel header="Details">
            <h2>{{ menuPlan.name }}</h2>
            <div class="card-container">
                <div class="info-card">
                  <i class="pi pi-map-marker icon"></i>
                  <p><strong>Ort:</strong></p>
                  <br>
                  <p class="rbm-text-sea-green">{{ menuPlan.location }}</p>
                </div>
                <div class="info-card">
                  <i class="pi pi-calendar icon"></i>
                  <p><strong>Nächste Ausführung:</strong></p>
                  <br>
                  <p class="rbm-text-sea-green">{{ menuPlan.nextExecution }}</p>
                </div>
                <div class="info-card">
                  <i class="pi pi-clock icon"></i>
                  <p><strong>Wochentag:</strong></p>
                  <br>
                  <p class="rbm-text-sea-green">{{ menuPlan.weekday }}</p>
                </div>
                <div class="info-card">
                  <i class="pi pi-refresh icon"></i>
                  <p><strong>Wiederholung:</strong></p>
                  <br>
                  <p class="rbm-text-sea-green">{{ menuPlan.repeatFrequency }}</p>
                </div>
              </div>

            <h3>Beschreibung</h3>
            <p *ngIf="menuPlan.description">{{ menuPlan.description }}</p>
            <p *ngIf="!menuPlan.description">Für dieses Menu gibt es keine Beschreibung</p>

            <h3>Gesamt Portionen</h3>
            <div class="portion-cards-container">
                <div class="portion-card">
                  <div>
                    <p class="title">Portionen</p>
                  </div>
                  <div>
                    <p class="amount">{{ menuPlan.portions }}</p>
                  </div>
                </div>
                <div class="portion-card">
                  <div>
                    <p class="title">Vegetarische Portionen</p>
                  </div>
                  <div>
                    <p class="amount">{{ menuPlan.portionsVegetarisch }}</p>
                  </div>
                </div>
                <div class="portion-card">
                  <div>
                    <p class="title">Vegane Portionen</p>
                  </div>
                  <div>
                    <p class="amount">{{ menuPlan.portionsVegan }}</p>
                  </div>
                </div>
              </div>
           
            <h3>Rezepte</h3>  

            <div class="recipes" *ngIf="menuPlan.recipes.length">
             <!--    <h3>Rezepte</h3>
                <ul>
                    <li *ngFor="let recipe of menuPlan.recipes">
                        {{ recipe.name }}
                    </li>
                </ul> -->

                <div class="recipe-card" *ngFor="let recipe of menuPlan.recipes" (click)="viewRecipe(recipe.id)">
                    <img [src]="recipe.recipeImage || 'assets/img/image_fallback-bg-green.png'" height="150" width="300" />
                    <div class="recipe-info">
                      <h3>
                        {{ recipe.name }}
                      </h3>
                    </div>
                  </div>
            </div>
        </p-tabPanel>
        <p-tabPanel header="Kalendar">
            <div class="calendar-box">
            <full-calendar #calendar [options]="calendarOptions"
                class="text-center"></full-calendar>
            </div>
                <p-dialog [(visible)]="displayEventDialog" modal="modal" [header]="selectedEvent?.title" [closable]="true">
                    <div *ngIf="selectedEvent">
                        <div class="dialog-content">
                            <p><strong>Datum:</strong> {{ selectedEvent.start | date:'fullDate' }} {{ selectedEvent.start | date:'shortTime' }}</p>
                        </div>
                        <div class="dialog-actions" style="display: flex; justify-content: space-between; margin-top: 20px;">
                            <p-button label="Löschen" icon="pi pi-trash" class="p-button-danger" (click)="deleteSingleEvent(selectedEvent)"></p-button>
                        </div>
                    </div>
                </p-dialog>
        </p-tabPanel>
    </p-tabView>
    
</div>



<p-toast></p-toast>