/* Toolbar */

/* Auto layout */
.toolbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  height: 100%;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 12px;
  
  svg {
    height: 48px;
    width: auto;
  }
}
.menu-icon {
  width: 44px;
  height: 44px;
}

.avatar-container {
  width: 140px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px 12px;
  gap: 16px;
}

/* Pepper potts */
.user-name-container {
  height: 38px;
  //width: 60px;
}

.user-name {
  /* dark-green */
  color: #29784D;
  font-size: 16px;
  font-family: Inter, serif;
  font-weight: 600;
  text-transform: capitalize;
  word-wrap: break-word
}

.store-container {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #29784D;
}

button {
  background-color: white;
  border: none;
  cursor: pointer;
}

.pseudo-toolbar {
  height: 70px;
}

.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  background-color: white;
  border-bottom: 1px solid rgb(235, 235, 235);
  height: 70px;
}

::ng-deep .rbm-burgermenu {

  button {
    background-color: var(--rbm-tea-green);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    width: 44px;
    height: 44px;

  }

  button:hover {
    background-color: var(--rbm-sea-green-30);
  }
}

::ng-deep .rbm-pmenu {
  .p-menuitem-icon  {
    color: var(--rbm-sea-green);
  }

  .p-menuitem-content:hover {
    background-color: var(--rbm-tea-green-20);
    span {
      color: var(--rbm-sea-green);
    }
  }
}

::ng-deep p-avatar {
  .p-avatar {
    background-color: var(--rbm-sea-green);
    height: 44px;
    width: 44px;
    color: var(--rbm-tea-green);
  }
}