<div class="profile-container" *ngIf="!loading && user_profile">
    <!-- User Details Section -->
    <div class="card user-details-card">
        <div class="user-info rbm-flex-row">
            <img class="profile-picture" src="../../assets/img/image_fallback-bg-green.png" alt="User Photo">
            <div>
                <h2 class="rbm-text-sea-green">{{ user_profile.firstname }} {{ user_profile.lastname }}</h2>
                <p class="rbm-flex-row rbm-gap-p5 rbm-items-middle"><i class="pi pi-envelope"></i> <strong>Email:</strong> {{ user_profile.email }}</p>
                <p class="rbm-flex-row rbm-gap-p5 rbm-items-middle"><i class="pi pi-check-circle"></i> <strong>Message Terms Status:</strong> {{
                    user_profile.messageTermsStatus }}</p>
                <p class="rbm-flex-row rbm-gap-p5 rbm-items-middle"><i class="pi pi-eye"></i> <strong>Tracking Enabled:</strong> {{ user_profile.trackingEnabled ? 'Yes' :
                    'No' }}</p>
            </div>
        </div>
    </div>

    <!-- Employments and Company Details Section -->
    <div class="employment-container">
        <h3><i class="pi pi-briefcase rbm-text-xl"></i> Employments</h3>
        <ng-container *ngIf="employments.length > 0; else noEmployments">
            <div *ngFor="let employment of employments" class="card employment-card">
                <h4><i class="pi pi-user rbm-text-l"></i> Employment Status: {{ employment.status }}</h4>
                <!-- Iterate over companies separately -->
                <ng-container *ngFor="let company of companies">
                    <div *ngIf="employment.links.company.endsWith(company.id)" class="company-details">
                        <h4 class="rbm-margin-none"><i class="pi pi-building rbm-text-l"></i> {{ company.name }}</h4>
                        <div class="rbm-flex-row rbm-padding-p5">
                            <div class="rbm-flex-column rbm-padding-s" *ngIf="companyAddresses[company.id]">
                              
                                    <p class="rbm-margin-none rbm-text-sea-green"><strong>Company Address:</strong></p>
                                    <p class="rbm-margin-none"><strong>Street:</strong> {{ companyAddresses[company.id].street }}</p>
                                    <p class="rbm-margin-none"><strong>Zipcode:</strong> {{ companyAddresses[company.id].zipcode }}</p>
                                    <p class="rbm-margin-none"><strong>City:</strong> {{ companyAddresses[company.id].city }}</p>
                                    <p class="rbm-margin-none"><strong>Country:</strong> {{ companyAddresses[company.id].country.toUpperCase() }}</p>
                                    <p class="rbm-margin-none"><strong>Type:</strong> {{ companyAddresses[company.id].type }}</p>

                            </div>
                            <div class="rbm-flex-column rbm-padding-s">
                                <p class="rbm-margin-none rbm-text-sea-green"><strong>Benutzer Informationen:</strong></p>
                                <p class="rbm-margin-none"><strong>Email:</strong> {{ company.email || 'N/A' }}</p>
                                <p class="rbm-margin-none"><strong>Phone:</strong> {{ company.phone || 'N/A' }}</p>
                                <p class="rbm-margin-none"><strong>Tax ID:</strong> {{ company.taxId || 'N/A' }}</p>
                                <p class="rbm-margin-none"><strong>Verified:</strong> {{ company.verified ? 'Yes' : 'No' }}</p>
                                <p class="rbm-margin-none"><strong>Website:</strong>
                                    <a *ngIf="company.web" href="{{ company.web }}" target="_blank">{{ company.web }}</a>
                                    <span *ngIf="!company.web">N/A</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div>
        </ng-container>
        <ng-template #noEmployments>
            <p>No employments found for this user.</p>
        </ng-template>
    </div>
</div>

<!-- Loading Spinner -->
<div *ngIf="loading" class="loading-spinner">
    <p><i class="pi pi-spinner pi-spin"></i> Loading user data...</p>
</div>
<p-toast></p-toast>