<div class="card">
  <h2>Saisonkalender für Obst und Gemüse</h2>
  <p-dropdown
    [options]="months"
    [(ngModel)]="selectedMonth"
    (onChange)="updateProduceList()"
  ></p-dropdown>

  <h3>Obst der Saison</h3>
  <p-table [value]="seasonalFruits" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fruit>
      <tr>
        <td>{{ fruit.name }}</td>
      </tr>
    </ng-template>
  </p-table>

  <h3>Gemüse der Saison</h3>
  <p-table [value]="seasonalVegetables" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
      <tr>
        <th>Name</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vegetable>
      <tr>
        <td>{{ vegetable.name }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
