<div class="container">
  <h1>This is used to showcase all the components made for RBM</h1>

  <form [formGroup]="form" (submit)="onSubmit()">
    <div class="row">
      <div class="col-12">
        <app-rbm-input
          formControlName="name"
          [type]="'text'"
          [placeholder]="'My placeholder'"
          [label]="'My label'"
          [form]="name"
          [isRequired]="true"
          [elementName]="'My label'"
        ></app-rbm-input>
      </div>
      <div class="col-12">
        <app-rbm-checkbox> </app-rbm-checkbox>
      </div>
    </div>
    <button type="submit" class="btn btn-primary mt-5">Submit</button>
  </form>
</div>
