.sidebar {
    width: 250px;
    position: fixed;
/*     background-color: #D9D9D9;*/
    background-color: #99b39c97;
    padding: 20px;
    height: calc(100vh - 40px);
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
    border-radius: 10px;
    text-decoration: none;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar a {
    text-decoration: none;
    color: var(--rbm-black);
}
.sidebar ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #333;
    transition: 0.3s;
}

.sidebar ul li:hover {
  background-color: var(--rbm-sea-green-20);
  color: var(--rbm-black);
  padding: 8px;
  border-radius: 5px;
  transition: 0.2s;
}
.sidebar ul li i {
    margin-right: 10px;
}
.sidebar ul li.active {
    background-color: var(--rbm-sea-green);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.5s ease-in-out;
}


@media (max-width: 1000px) {
    .sidebar {
      display: none;
    }
  }

.submenu {
  position: absolute;
  right: -40%;
  top: 0;
  background-color: white;
  border: 1px solid #ccc;
  list-style: none;
  padding: 16px !important;
  margin: 0;
  display: none; /* Initially hidden */
  z-index: 100;
  border-radius: 4px;
}

.submenu.visible {
z-index: 0; /* Ändern wenn sublinks aktiviert werden sollen */
}

.sidebar .submenu ul li:hover {
    padding: 0 !important;
}

.submenu li {
  padding: 8px !important;
}

.submenu li a {
  text-decoration: none;
  color: black;
}

