<div class="shopping-list-details p-m-3 p-shadow-3 p-p-4">
    <h1>Shopping List and Offers</h1>
    <p>Date Created: {{ shoppingList?.createdAt | date:'shortDate' }}</p>

<div class="rbm-flex-row" *ngIf="!loading && shoppingList">
    <p-stepper orientation="vertical" class="rbm-width-50">
      <p-stepperPanel *ngFor="let ingredientName of ingredientNames; let i = index">
        <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
          <div *ngFor="let item of ingredientOfferMapping">
          <ng-container *ngIf="item.ingredient[0]?.name === ingredientName && item.ingredient.length > 0">
          <span (click)="onClick.emit()" class="rbm-flex-row rbm-gap-p5">
            <span class="rbm-stepper-number rbm-bg-valid" *ngIf="item.status === 'OFFERS_FOUND' && item.selected">
              <i class="pi pi-check"></i>
            </span>
            <!-- <span class="rbm-stepper-number rbm-bg-error">
              <i class="pi pi-times"></i>
            </span> -->
            <span class="rbm-stepper-number rbm-bg-unselected" *ngIf="item.status === 'OFFERS_FOUND' && !item.selected">
              <i class="pi pi-pencil"></i>
            </span>
            <span class="rbm-stepper-number rbm-bg-error" *ngIf="item.status === 'NO_OFFERS'" >
              <i class="pi pi-ban"></i>
            </span>
          
            <span class="rbm-height-fit rbm-items-middle">
              <strong style="font-size: 27px;">{{ getLocalizedLabel(ingredientName) }}</strong>
            </span>
            
          </span>
          </ng-container>
          </div>
        </ng-template>
        <ng-template pTemplate="content" let-prevCallback="prevCallback" let-nextCallback="nextCallback" let-index="index">
          <div class="rbm-flex-column">
              <div class="rbm-flex-column rbm-padding-m rbm-gap-4xs">
                <div *ngFor="let item of getTotalAmountsPerUnitArray(ingredientName)" class="amountCard">
                  <p>
                    <strong>Total Amount:</strong>
                    {{ item.totalAmount }} {{ getUnitLabel(item.unit) }}
                  </p>
                  <!-- Display Combined Processing Breakdowns -->
                  <p><strong>Processing Breakdown:</strong></p>
                  <ul>
                    <li *ngFor="let item of getProcessingBreakdown(getCombinedProcessingBreakdown(ingredientName))">
                      {{ item.label }}: {{ item.amount }} {{ getUnitLabel(item.unit) }}
                    </li>
                  </ul>
            
                  <!-- Button to Open Offers Dialog -->
                  <button
                    pButton
                    label="Select Offers"
                    (click)="openOfferSelectionDialog(ingredientName)"
                    [disabled]="!hasOffersForIngredient(ingredientName)"
                  >
                  </button>
                </div>
              </div>
          </div>
          <div class="rbm-flex-row rbm-gap-p5">
              <p-button label="Back" severity="secondary" (onClick)="prevCallback.emit()" />
              <p-button label="Next" (onClick)="nextCallback.emit()" />
          </div>
      </ng-template>
      </p-stepperPanel>
     
  </p-stepper>

  <div class="overview rbm_scrollbar">
    <h3>Übersicht</h3>
    <p-card class="reichweite-toolbar">
      <p>Reichweite anpassen: {{ range }} km</p>
      <p-slider [(ngModel)]="range" [min]="1" [max]="250" [step]="1"></p-slider>
      <button pButton label="Clear Cache & Reload Offers" (click)="clearCacheAndReload()"></button>
    </p-card>
    <p-meterGroup [value]="getMeterItems()" labelPosition="start">
      <ng-template pTemplate="label">
        <div class="flex gap-3 rbm-flex-nowrap">
          <ng-container *ngFor="let item of getMeterItems(); let index = index">
            <p-card class="rbm-flex-column set-max-fit">
              <div class="flex justify-content-between gap-5">
                <div class="rbm-flex-column rbm-flex-nowrap">
                  <span class="rbm-flex-row rbm-gap-p5 rbm-flex-nowrap">
                    <span class="amount-overview " [ngStyle]="{'background-color': item.color}">
                      <i [class]="item.icon"></i>
                    </span>
                      <span>{{ item.label }}</span>
                    </span>
                  <br>
                  <span class="font-bold rbm-text-xl">{{ item.value }}</span>
                </div>
              </div>
            </p-card>
          </ng-container>
        </div>
      </ng-template>
      <ng-template pTemplate="meter" let-value let-class="class" let-size="size">
        <span [ngStyle]="{'background-color': value.color, 'width': value.size + '%'}" class="meter-bar"></span>
      </ng-template>
      <ng-template pTemplate="start" let-totalPercent="totalPercent">
      </ng-template>
      <ng-template pTemplate="end">
      </ng-template>
    </p-meterGroup>

    <p-tabView class="rbm-max-width-per100">
      <p-tabPanel header="Verfügbar" class="unselected-offer">
        <ng-container *ngIf=" getOffersFoundUnselectedCount() < 1">
          Keine offene Angebote gefunden
        </ng-container>
        <div *ngFor="let item of ingredientOfferMapping">
          <ng-container *ngIf="item.ingredient.length > 0">
            <p 
                *ngIf="item.status === 'OFFERS_FOUND' && !item.selected" 
                class="unselected-offer"
                (click)="scrollToAccordionTab(item.ingredient[0]?.name)">
                {{ getLocalizedLabel(item.ingredient[0]?.name) }}
            </p>
          </ng-container>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Ausgewählt">
        <ng-container *ngIf="getOffersFoundSelectedCount() < 1">
          Keine Angebote ausgewählt
        </ng-container>
        <div *ngFor="let item of ingredientOfferMapping">
          <ng-container *ngIf="item.ingredient.length > 0">
            <p 
              *ngIf="item.status === 'OFFERS_FOUND' && item.selected" 
              class="valid-offer"
              (click)="scrollToAccordionTab(item.ingredient[0]?.name)">
              {{ getLocalizedLabel(item.ingredient[0]?.name) }}
            </p>
          </ng-container>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Kein Angebot">
        <ng-container *ngIf="getNoOffersCount() < 1">
          Super! Alle Zutaten haben ein Angebot
        </ng-container>
        <div *ngFor="let item of ingredientOfferMapping">
          <ng-container *ngIf="item.ingredient.length > 0">
            <p 
              *ngIf="item.status === 'NO_OFFERS'" 
              class="invalid-offer">
              {{ getLocalizedLabel(item.ingredient[0]?.name) }}
            </p>
          </ng-container>
        </div>
      </p-tabPanel>
    </p-tabView>
    <div class="fixed-bottom-toolbar">
    <p *ngIf="hasOrdersRunning"> Es gibt bereits mind. eine laufende bestellung</p>
    <button *ngIf="hasOrdersRunning" (click)="openshowOfferSelectionDialog()">Zeigen</button>
    <button (click)="createSummary()">
        {{ getButtonLabel() }}
      </button>
    </div> 
  </div>
</div>
</div>


<p-toast></p-toast>

<p-dialog
  header="Angebot auswählen"
  [(visible)]="showRunningOrdersDialog"
  modal="modal"
  [closable]="false"
>
  <p>Bitte wählen Sie ein Angebot aus der Liste unten aus:</p>
  <ul>
    <li *ngFor="let offer of offerDataList">
      <!-- Customize the display as needed -->
      <button (click)="navigateToOffer(offer.id)">
        Angebot ID: {{ offer.id }}
      </button>
    </li>
  </ul>
  <p-footer>
    <button
      type="button"
      pButton
      label="Schließen"
      (click)="showRunningOrdersDialog = false"
    ></button>
  </p-footer>
</p-dialog>

<p-dialog
  header="Angebote auswählen"
  [(visible)]="showOfferSelectionDialog"
  [modal]="true"
  [closable]="false"
  [style]="{ width: '50vw' }"
>
  <!-- Display the Ingredient and Total Amount -->
  <p>
    <strong>Sie suchen nach:</strong> {{ getLocalizedLabel(selectedIngredientName) }},
    insgesamt
    <ng-container *ngFor="let item of getTotalAmountsPerUnitArray(selectedIngredientName); let i = index">
      {{ item.totalAmount }} {{ getUnitLabel(item.unit) }}<span *ngIf="i < getTotalAmountsPerUnitArray(selectedIngredientName).length - 1">, </span>
    </ng-container>
    .
  </p>

  <!-- Expandable Processing Breakdown -->
  <p-accordion>
    <p-accordionTab header="Aufschlüsselung">
      <ul>
        <li
          *ngFor="let item of getProcessingBreakdown(getCombinedProcessingBreakdown(selectedIngredientName))"
        >
          {{ item.label }}: {{ item.amount }} {{ getUnitLabel(item.unit) }}
        </li>
      </ul>
    </p-accordionTab>
  </p-accordion>

  <!-- Existing Offer Selection Content -->
  <p *ngIf="selectedIngredientOffers.length > 0">Verfügbare Angebote:</p>
  <p *ngIf="selectedIngredientOffers.length === 0">Keine Angebote für diese Zutat verfügbar.</p>

  <div *ngIf="selectedIngredientOffers.length > 0">
    <div *ngFor="let offerItem of selectedIngredientOffers">
      <div class="p-field-checkbox">
        <p-checkbox
          [(ngModel)]="offerItem.selected"
          (ngModelChange)="onOfferSelectionChange()"
          [binary]="true"
          inputId="{{ 'offer_' + offerItem.offer.offerDetails.id }}"
        ></p-checkbox>
        <label for="{{ 'offer_' + offerItem.offer.offerDetails.id }}">
          <h5>
            {{ offerItem.offer?.company?.name }}
            <ng-container [ngSwitch]="getProcessingMatchType(offerItem)">
              <span *ngSwitchCase="'exact'" class="pi pi-check" style="color: green; margin-left: 5px;" title="Exakte Übereinstimmung"></span>
              <span *ngSwitchCase="'partial'" class="pi pi-exclamation-triangle" style="color: orange; margin-left: 5px;" title="Teilweise Übereinstimmung"></span>
              <span *ngSwitchCase="'none'" class="pi pi-times" style="color: red; margin-left: 5px;" title="Keine Übereinstimmung"></span>
            </ng-container>
          </h5>
          <p>
            <strong>Produktname:</strong>
            {{ offerItem.offer?.offerDetails?.productTitle }}
          </p>
        <p>
          <strong>Preis pro Einheit:</strong>
          <span *ngIf="offerItem.offer?.offerDetails?.pricePerUnit !== undefined && offerItem.offer?.offerDetails?.pricePerUnit !== null">
            €{{ offerItem.offer?.offerDetails?.pricePerUnit }}
          </span>
          <span *ngIf="offerItem.offer?.offerDetails?.pricePerUnit === undefined || offerItem.offer?.offerDetails?.pricePerUnit === null">
            Auf Anfrage
          </span>
        </p>
          <p>
            <strong>Gesamte Menge:</strong>
            {{ offerItem.offer?.offerDetails?.totalAmount?.amount }} {{ offerItem.offer?.offerDetails?.totalAmount?.unit }}
          </p>
          <p>
            <strong>Mindestmenge:</strong>
            {{ offerItem.offer?.offerDetails?.minAmount?.amount }} {{ offerItem.offer?.offerDetails?.minAmount?.unit }}
          </p>
          <div *ngIf="offerItem.offer?.offerDetails?.levelsOfProcessing?.length > 0">
            <p><strong>Verarbeitungen:</strong></p>
            <ul>
              <li *ngFor="let processing of offerItem.offer?.offerDetails?.levelsOfProcessing">
                {{ getLocalizedLabel(processing.label) }}
              </li>
            </ul>
          </div>
        </label>
      </div>
      <hr />
    </div>
  </div>

  <p-footer>
    <button
      type="button"
      pButton
      label="Schließen"
      (click)="closeOfferSelectionDialog()"
    ></button>
  </p-footer>
</p-dialog>