<mat-toolbar color="primary">
    <span>Neues Rezept</span>
    <span class="spacer"></span>
    <button mat-raised-button color="accent" (click)="saveRecipe()">Speichern</button>
</mat-toolbar>

<mat-divider></mat-divider>

<div class="container">
    <form [formGroup]="recipeForm">
        <mat-form-field appearance="fill">
            <mat-label>Name des Rezepts</mat-label>
            <input matInput formControlName="recipeName" required>
            <mat-error *ngIf="recipeForm.get('recipeName').hasError('required')">
                Name des Rezepts ist erforderlich
            </mat-error>
        </mat-form-field>

        <div class="chips-container">
            <div>
                @for (category of categories; track $index) {
                <mat-chip selectable="true" [removable]="false">
                    <mat-checkbox [formControl]="category.control">{{ category.name }}</mat-checkbox>
                </mat-chip>
                }
            </div>
        </div>

        <mat-divider></mat-divider>

        <div class="ingredient-container">
            @for (ingredient of ingredients.controls; track $index) {
            <div [formGroupName]="$index" class="ingredient-row">
                <mat-form-field appearance="fill">
                    <mat-label>Komponente</mat-label>
                    <input matInput formControlName="component">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Zutat</mat-label>
                    <input matInput formControlName="ingredient">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Menge</mat-label>
                    <input matInput formControlName="quantity">
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>Einheit</mat-label>
                    <mat-select formControlName="unit">
                        @for (unit of units; track $index) {
                        <mat-option [value]="unit">{{ unit }}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>
            }
        </div>

        <button mat-raised-button (click)="addIngredient()">Zutat hinzufügen</button>
    </form>
</div>