.container {
    margin: 20px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .chips-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .ingredient-row {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  