<ng-container>
    <p-card class="new-recipe-card">
        <ng-template pTemplate="header" class="new-recipe-card_header">
            <!-- <div>
                <p class="new-recipe_title">Neues Rezept</p>
            </div> -->
            <div style="display: flex; align-items: center;">
                <button pButton class="new-recipe_savebtn" icon="pi pi-check" type="button" label="Speichern"
                    [disabled]="loading || form.invalid" (click)="saveRecipe()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="content">


            <form [formGroup]="form">
                <div class="new-recipe-card_col1">

                    <div class="left">
                        <input pInputText type="text" formControlName="recipeName" placeholder="Name des Rezepts"
                            style="margin-right: 8px;">
                        <div class="options">
                            <div class="item">
                                <label style="margin-left: 8px;">In Menüplanung übernehmen</label>
                                <p-inputSwitch></p-inputSwitch>
                            </div>
                            <div class="item">
                                <label style="margin-left: 8px;">als Community Rezept veröffentlichen</label>
                                <p-inputSwitch></p-inputSwitch>
                            </div>
                        </div>
                    </div>

                    <div class="right">
                        <div class="grid-4-column" formGroupName="selectedDiets">
                            <div *ngFor="let option of dietOptions" class="diet-option-chip"
                                (click)="toggleDiet(option.value)">
                                <p-checkbox class="diet-option-chip_checkbox" [binary]="true"
                                    [formControlName]="option.value"></p-checkbox>
                                <label>{{option.label}}</label>
                            </div>
                        </div>
                    </div>

                </div>



                <div class="new-recipe-card_col1 new-recipe-card-overview-sector">

                    <div class="img_preview_con">
                        <div *ngIf="!recipeImage" class="img_preview">
                            <i class="pi pi-image" style="font-size: 48px; color: #29784D;"></i>
                        </div>
                        <div *ngIf="recipeImage"
                            style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;">
                            <img [src]="recipeImage" alt="Recipe Image"
                                style="width: 100%; height: 100%; object-fit: cover;">
                        </div>
                        <p-fileUpload #recipeFileUpload name="recipeImage" url="./upload"
                            (onSelect)="handleRecipeImageUpload($event)" mode="basic" accept="image/*"
                            [ngStyle]="{ 'position': 'absolute', 'bottom': '8px', 'right': '8px' }"
                            *ngIf="!recipeImage">
                        </p-fileUpload>
                        <button *ngIf="recipeImage" pButton type="button" icon="pi pi-times"
                            class="img_button p-button-rounded p-button-danger" (click)="removeRecipeImage()"></button>
                    </div>

                    <div class="new-recipe-card-overview_data" style="flex: 1; display: flex; flex-direction: column;">
                        <div style="margin-bottom: 8px; display: flex; align-items: center;">
                            <label style="flex: 1;">Energie in kcal</label>
                            <input pInputText type="text" formControlName="energie" placeholder="Energie in kcal"
                                [ngStyle]="{'flex': '1'}">
                        </div>
                        <div style="margin-bottom: 8px; display: flex; align-items: center;">
                            <label style="flex: 1;">Portionen</label>
                            <input pInputText type="text" formControlName="portionen" placeholder="Portionen"
                                [ngStyle]="{'flex': '1'}">
                        </div>
                        <div style="margin-bottom: 8px; display: flex; align-items: center;">
                            <label style="flex: 1;">Besonderheiten</label>
                            <input pInputText type="text" formControlName="besonderheiten" placeholder="Besonderheiten"
                                [ngStyle]="{'flex': '1'}">
                        </div>
                        <div style="margin-bottom: 8px; display: flex; align-items: center;">
                            <label style="flex: 1;">Essensgäste</label>
                            <p-dropdown [options]="guestsOptions" formControlName="essensgaeste"
                                placeholder="Essensgäste" [ngStyle]="{'flex': '1'}"></p-dropdown>
                        </div>
                        <div style="margin-bottom: 8px; display: flex; align-items: center;">
                            <label style="flex: 1;">Allergene</label>
                            <p-dropdown [options]="allergeneOptions" formControlName="allergene" placeholder="Allergene"
                                [ngStyle]="{'flex': '1'}"></p-dropdown>
                        </div>
                        <div style="margin-bottom: 8px; display: flex; align-items: center;">
                            <label style="flex: 1;">Saison</label>
                            <p-dropdown [options]="saisonOptions" formControlName="saison" placeholder="Saison"
                                [ngStyle]="{'flex': '1'}"></p-dropdown>
                        </div>
                    </div>
                </div>

                <div class="new-recipe-card_description">
                    <h3>Beschreibung</h3>
                    <textarea pInputTextarea formControlName="recipeDescription" placeholder="dein Text.."></textarea>
                </div>

                <div class="new-recipe-card-iibox">
                    <div class="left">
                        <h3>Zutaten</h3>
                        <div formArrayName="ingredients">
                            <div *ngFor="let ingredient of ingredients.controls; let i = index" [formGroupName]="i"
                                style="margin-top: 16px;">
                                <div class="box-wrapper">
                                    <div class="ingredient-con rbm-flex-row">
                                        <p-dropdown 
                                        [options]="ingredientOptions"
                                        formControlName="name"
                                        placeholder="Name der Zutat"
                                        [showClear]="true"
                                        filter="true"
                                        filterPlaceholder="Suche nach Zutat"
                                        optionLabel="label"
                                        optionValue="value"
                                        [virtualScroll]="true"
                                        [itemSize]="50"
                                        [lazy]="true"
                                        (onLazyLoad)="loadMore($event)"
                                        (onFilter)="onFilter($event)"
                                        class="name">
                                      </p-dropdown>                                                                         
                                        <input pInputText type="text" formControlName="amount" placeholder="Menge">
                                        <p-dropdown [options]="units" formControlName="unit" placeholder="Einheit"
                                            [ngStyle]="{'flex': '1'}"></p-dropdown>
                                        <button pButton type="button" icon="pi pi-trash" (click)="removeIngredient(i)"
                                            class="p-button-rounded p-button-danger p-button-text"></button>
                                    </div>
                                    <div class="ingredient-con">
                                        <div formArrayName="alternatives" class="rbm-max-width-per100">
                                            <div *ngFor="let alternative of getAlternatives(i).controls; let j = index"
                                                [formGroupName]="j" style="margin-top: 8px;">
                                                <div class="rbm-flex-row rbm-flex-wrap rbm-gap-p8">

                                                    <p-dropdown [options]="ingredientOptions" formControlName="name"
                                                        placeholder="Name der alternativen Zutat" [showClear]="true"
                                                        filter="true" filterPlaceholder="Suche nach Zutat"
                                                        optionLabel="label" optionValue="value" [virtualScroll]="true"
                                                        [itemSize]="50" [lazy]="true" (onLazyLoad)="loadMore($event)" class="name">
                                                    </p-dropdown>


                                                    <input pInputText type="text" formControlName="amount"
                                                        placeholder="Menge">
                                                    <p-dropdown [options]="units" formControlName="unit"
                                                        placeholder="Einheit" [ngStyle]="{'flex': '1'}"></p-dropdown>
                                                    <button pButton type="button" icon="pi pi-trash"
                                                        (click)="removeAlternativeIngredient(i, j)"
                                                        class="p-button-rounded p-button-danger p-button-text"
                                                        style="margin-left: 8px;"></button>
                                                </div>
                                            </div>
                                        </div>
                                        <div *ngIf="showNote[i]" style="margin-top: 8px;">
                                            <textarea pInputTextarea formControlName="note" placeholder="Notiz"
                                                style="width: 100%; resize: vertical;"></textarea>
                                        </div>
                                        <button pButton type="button" icon="pi pi-plus"
                                            label="Alternative Zutat hinzufügen" (click)="addAlternativeIngredient(i)"
                                            style="margin-top: 8px; margin-right: 8px;"></button>
                                        <button pButton type="button" icon="pi pi-plus"
                                            [label]="showNote[i] ? 'Notiz entfernen' : 'Notiz hinzufügen'"
                                            (click)="toggleNoteField(i)"
                                            style="margin-top: 8px; margin-right: 8px;"></button>
                                        <p-checkbox formControlName="optional" binary="true" label="Optional"
                                            [ngStyle]="{'margin-bottom': '8px'}"></p-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="add_ingredient_btn" pButton type="button" icon="pi pi-plus"
                            label="Zutat hinzufügen" (click)="addIngredient()" style="margin-top: 16px;"></button>
                    </div>
                    <hr style="border: 0; height: 1px; background-color: #ccc; margin-top: 16px;">
                    <div class="right">
                        <h3>Zubereitung</h3>
                        <div style="margin-top: 8px;">
                            <p-inputSwitch></p-inputSwitch>
                            <label style="margin-left: 8px;">Rezept benötigt Vorbereitungszeit</label>
                        </div>
                        <div formArrayName="steps">
                            <div *ngFor="let step of steps.controls; let i = index" [formGroupName]="i"
                                style="margin-top: 16px;">
                                <div class="box-wrapper ingredient-item">
                                    <div>
                                        <div
                                            style="display: flex; justify-content: space-between; align-items: center;">
                                            <div style="display: flex; align-items: center;">
                                                <div class="counter">{{ i + 1 }}</div>
                                                <input pInputText type="text" formControlName="schritt"
                                                    placeholder="Schritt" style="width: 100%;">
                                                <button pButton type="button" icon="pi pi-trash" (click)="removeStep(i)"
                                                    class="p-button-rounded p-button-danger p-button-text"
                                                    style="margin-left: 8px;"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div style="margin-bottom: 8px;">
                                            <textarea pInputTextarea formControlName="anleitung" placeholder="Anleitung"
                                                style="width: 100%; resize: vertical;"></textarea>
                                        </div>
                                        <div style="margin-bottom: 8px; display: flex; align-items: center;">
                                            <div *ngFor="let image of stepImages[i]"
                                                style="display: inline-block; margin: 4px;">
                                                <img [src]="image" alt="Image preview"
                                                    style="width: 100px; height: 100px;">
                                            </div>
                                            <p-fileUpload #fileUpload name="image[]" url="./upload"
                                                (onSelect)="handleFileUpload($event, i, fileUpload)" multiple
                                                mode="basic" accept="image/*" chooseIcon="pi pi-images"></p-fileUpload>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button pButton class="add_ingredient_btn" type="button" icon="pi pi-plus"
                            label="Schritt hinzufügen" (click)="addStep()" style="margin-top: 16px;"></button>
                    </div>
                </div>

                <p-toast></p-toast>
            </form>
        </ng-template>
    </p-card>
</ng-container>