<mat-form-field class="w-100" appearance="outline">
  <mat-label>
    {{ label }}
    @if (isRequired) {
      <span class="text-danger">*</span>
    }
  </mat-label>
  <input
    matInput
    [placeholder]="placeholder"
    [(ngModel)]="value"
    (input)="updateValue($event)"
    [type]="type"
    (focus)="onInputFocus()"
  />
</mat-form-field>
<div>
  @if (logicForm.hasError("required") && logicForm.touched) {
    <mat-error
      >{{ elementName || "elementName is not yet defined" }} is
      <strong>required</strong></mat-error
    >
    <span></span>
  }
</div>
