<div class="side-menu-container">
  <div class="d-flex flex-column gap-2">
    @for (button of buttons; track button) {
      @if (button.isDivider) {
        <!--        <mat-divider>test</mat-divider>-->
        <div class="divider">{{ button.name }}</div>
      } @else {
        <button
          [ngClass]="button.isActivated ? 'button-activated' : ''"
          class="button rounded-5"
          mat-button
          (click)="onClickActivateButton(button)"
        >
          <div class="d-flex justify-content-between button-text-container">
            <div class="d-flex ms-2 gap-2">
              <mat-icon [ngClass]="button.isActivated ? 'text-white' : ''">{{
                button.icon
              }}</mat-icon>
              <span [ngClass]="button.isActivated ? 'text-white' : ''">{{
                button.name
              }}</span>
            </div>
            @if (button.badgeCounter) {
              <span [ngClass]="button.isActivated ? 'text-white' : ''">{{
                button.badgeCounter
              }}</span>
            }
          </div>
        </button>
      }
    }
  </div>
</div>
