<div class="flex gap-2">
  <p-button routerLink="/menu-planning">Menüplanung</p-button>
  <p-button routerLink="/menu-planning/menu-plans">Meine Menüs</p-button>
  <p-button routerLink="/menu-planning/shopping-list">Einkaufszettel</p-button>
  <p-button>Angebotsliste</p-button>
</div>

<div class="container">
  <div class="menu-plan-form">
    <div class="menu-plan-list">
      <div *ngFor="let recipe of menuPlan" class="recipe-item">
        <img [src]="recipe.recipeImage ? recipe.recipeImage : 'assets/default-image.png'" alt="{{ recipe.recipeName }}"
          class="recipe-image">
        <div class="recipe-name">{{ recipe.recipeName }}</div>
        <p-button (click)="removeRecipeFromMenuPlan(recipe)">-</p-button>
      </div>
    </div>

    <form [formGroup]="menuPlanForm" class="form-grid">
      <div class="form-field">
        <label for="name">Name</label>
        <input id="name" type="text" formControlName="name" pInputText />
      </div>
      <div class="form-field">
        <label for="nachsteAusfuhrung">Nächste Ausführung</label>
        <p-dropdown id="nachsteAusfuhrung" formControlName="nachsteAusfuhrung"
          [options]="nextExecutionOptions"></p-dropdown>
      </div>
      <div class="form-field">
        <label for="wochentag">Wochentag</label>
        <p-dropdown id="wochentag" formControlName="wochentag" [options]="weekDays"></p-dropdown>
      </div>
      <div class="form-field">
        <label for="wiederholung">Wiederholung</label>
        <p-dropdown id="wiederholung" formControlName="wiederholung" [options]="repeatOptions"></p-dropdown>
      </div>
      <div class="form-field">
        <label for="ort">Ort</label>
        <input id="ort" type="text" formControlName="ort" pInputText />
      </div>
      <div class="form-field">
        <label for="portions">Portions</label>
        <input id="portions" type="number" formControlName="portions" pInputText />
      </div>
      <div class="form-field">
        <label for="portionsVegetarisch">Portions Vegetarisch</label>
        <input id="portionsVegetarisch" type="number" formControlName="portionsVegetarisch" pInputText />
      </div>
      <div class="form-field">
        <label for="portionsVegan">Portions Vegan</label>
        <input id="portionsVegan" type="number" formControlName="portionsVegan" pInputText />
      </div>
      <div class="form-field description-field">
        <label for="description">Beschreibung</label>
        <textarea id="description" formControlName="description" pInputTextarea></textarea>
      </div>
      <div class="form-field">
        <p-button (click)="saveMenuPlan()">Speichern</p-button>
      </div>
    </form>
  </div>

  <div class="recipe-list">
    <div class="search-bar">
      <input type="text" pInputText placeholder="Search" [(ngModel)]="searchQuery" (input)="filterRecipes()" />
    </div>
    <div *ngFor="let recipe of filteredRecipes" class="recipe-item">
      <img [src]="recipe.recipeImage ? recipe.recipeImage : 'assets/default-image.png'" alt="{{ recipe.recipeName }}"
        class="recipe-image">
      <div class="recipe-name">{{ recipe.recipeName }}</div>
      <p-button (click)="addRecipeToMenuPlan(recipe)">+</p-button>
    </div>
  </div>
</div>
<full-calendar #calendar [options]="calendarOptions"></full-calendar>
<p-dialog [(visible)]="displayEventDialog" modal="modal" [style]="{width: '50vw'}" header="Event Details">
  <div *ngIf="selectedEvent">
    <h3>{{ selectedEvent.title }}</h3>
    <p><strong>Description:</strong> {{ selectedEvent.extendedProps.description }}</p>
    <p><strong>Location:</strong> {{ selectedEvent.extendedProps.location }}</p>
    <p><strong>Portions:</strong> {{ selectedEvent.extendedProps.portions }}</p>
    <p><strong>Vegetarian Portions:</strong> {{ selectedEvent.extendedProps.portionsVegetarisch }}</p>
    <p><strong>Vegan Portions:</strong> {{ selectedEvent.extendedProps.portionsVegan }}</p>
  </div>
</p-dialog>