<div class="rbm-site-toolbar">
    <p-button class="first" routerLink="/menu-planning">Menüplanung</p-button>
    <p-button routerLink="/menu-planning/my-menus">Meine Menüs</p-button>
    <p-button routerLink="/menu-planning/shopping-list">Einkaufszettel</p-button>
    <p-button routerLink="/offers-overview" class="last">Angebotsliste</p-button>
</div>

<div class="actions">
    <button pButton label="Clear Cache & Reload Offers" (click)="clearCacheAndReload()"></button>
</div>

<p-progressSpinner *ngIf="loading"></p-progressSpinner>

<p-slider [(ngModel)]="range" [min]="0" [max]="250" [step]="1"></p-slider>
<p>Selected Range: {{ range }} km</p>

<div class="p-col-6">
    <p-card header="Available Offers">
        <p-accordion>
            <ng-container *ngFor="let offer of offers">
                <p-accordionTab
                    header="{{ offer?.company?.name }} {{ getLocalizedLabel(offer?.ontoFoodType?.label) }} {{offer.offerDetails?.id}}">

                    <div>
                        <p-button
                          *ngIf="offer?.offerDetails?.pricePerUnit"
                          label="Kaufabsicht erstellen"
                          (onClick)="openRequestDialog(offer, 'purchaseIntent')">
                        </p-button>
                      
                        <p-button
                          *ngIf="!offer?.offerDetails?.pricePerUnit"
                          label="Preisanfrage erstellen"
                          (onClick)="openRequestDialog(offer, 'priceRequest')">
                        </p-button>
                      </div>

                    <p-panel header="Company Details">
                        <p><strong>Company Label:</strong> {{ offer?.company?.label }}</p>
                        <p><strong>Verified:</strong> {{ offer?.company?.verified ? 'Yes' : 'No' }}</p>
                        <p><strong>Address:</strong> {{ offer?.address?.city }}</p>
                        <p><strong>Roles:</strong> {{ offer?.roles?.join(', ') }}</p>
                    </p-panel>

                    <p-panel header="Product Details">
                        <p><strong>Start Date:</strong> {{ offer?.product?.dateStart }}</p>
                        <p><strong>End Date:</strong> {{ offer?.product?.dateEnd }}</p>
                        <p><strong>Total Amount:</strong> {{ offer?.product?.totalAmount }} {{
                            offer?.product?.unit }}</p>
                        <p><strong>Permanent:</strong> {{ offer?.product?.isPermanent ? 'Yes' : 'No' }}</p>
                    </p-panel>

                    <p-panel header="Offer Details">
                        <p><strong>Product Title:</strong> {{ offer?.offerDetails?.productTitle }}</p>
                        <p><strong>Brand Name:</strong> {{ offer?.offerDetails?.brandName }}</p>
                        <p><strong>Description:</strong> {{ offer?.offerDetails?.description }}</p>
                        <p><strong>Min Amount:</strong> {{ offer?.offerDetails?.minAmount?.amount }} {{
                            offer?.offerDetails?.minAmount?.unit }}</p>
                        <p><strong>Price per Unit:</strong> €{{ offer?.offerDetails?.pricePerUnit }}</p>
                        <p><strong>Verarbeitungen:</strong></p>
                        <ul>
                            <li *ngFor="let processing of offer?.offerDetails?.levelsOfProcessing">
                                <p>{{ processing?.label }}</p>
                            </li>
                        </ul>
                    </p-panel>

                    <p-panel header="Graduated Prices">
                        <ul>
                            <li *ngFor="let price of offer?.offerDetails?.graduatedPrices">
                                <p>Amount: {{ price?.amount }} - Price: €{{ price?.price }}</p>
                            </li>
                        </ul>
                    </p-panel>

                    <p-panel header="Containers">
                        <ul>
                            <li *ngFor="let container of offer?.offerDetails?.containers">
                                <p>Amount: {{ container?.amount }} {{ container?.unit }}</p>
                                <p><strong>Returnable:</strong> {{ container?.returnable ? 'Yes' : 'No' }}</p>
                            </li>
                        </ul>
                    </p-panel>

                    <p-panel header="Product Traits, Weight, and Caliber">
                        <h4>Product Traits</h4>
                        <ul>
                            <li *ngFor="let trait of offer?.offerDetails?.productTraits">
                                <p>{{ trait?.trait }}: {{ trait?.description }}</p>
                            </li>
                        </ul>

                        <h4>Weight</h4>
                        <p>Min: {{ offer?.offerDetails?.weight?.min }} {{ offer?.offerDetails?.weight?.unit }}
                        </p>
                        <p>Max: {{ offer?.offerDetails?.weight?.max }} {{ offer?.offerDetails?.weight?.unit }}
                        </p>

                        <h4>Caliber</h4>
                        <p>Min: {{ offer?.offerDetails?.caliber?.min }} {{ offer?.offerDetails?.caliber?.unit }}
                        </p>
                        <p>Max: {{ offer?.offerDetails?.caliber?.max }} {{ offer?.offerDetails?.caliber?.unit }}
                        </p>
                    </p-panel>

                    <p-panel header="OntoFood Type">
                        <p><strong>Label:</strong> {{ offer?.ontoFoodType?.label }}</p>
                        <p><strong>Localized:</strong> {{ getLocalizedLabel(offer?.ontoFoodType?.label) }}</p>
                        <p><strong>Company:</strong> {{ offer?.ontoFoodType?.company ? 'Yes' : 'No' }}</p>
                        <p><strong>Market Available:</strong> {{ offer?.ontoFoodType?.market ? 'Yes' : 'No' }}
                        </p>
                        <p><strong>Supercategories:</strong></p>
                        <ul>
                            <li *ngFor="let category of offer?.ontoFoodType?.links?.supercategories">
                                <a href="{{ category }}" target="_blank">View Supercategory</a>
                            </li>
                        </ul>
                    </p-panel>

                    <p-panel header="Links">
                        <p><strong>Self:</strong> <a href="{{ offer?.links?.self }}" target="_blank">View
                                Offer</a></p>
                        <p><strong>Company:</strong> <a href="{{ offer?.links?.company }}" target="_blank">View
                                Company</a></p>
                        <p><strong>Category:</strong> <a href="{{ offer?.links?.category }}" target="_blank">View
                                Category</a></p>
                        <p><strong>Contact:</strong> <a href="{{ offer?.links?.contact }}" target="_blank">Contact</a>
                        </p>
                    </p-panel>
                </p-accordionTab>
            </ng-container>
        </p-accordion>
    </p-card>
</div>


<p-toast></p-toast>

<p-dialog [(visible)]="showRequestDialog" header="Anfrage Details hinzufügen" [modal]="true" [closable]="false">
  <div class="p-fluid">
    <div class="p-field">
      <label for="deliveryDate">Lieferdatum</label>
      <input type="date" id="deliveryDate" [(ngModel)]="requestData.deliveryDate" pInputText />
    </div>
    <div class="p-field">
      <label for="message">Nachricht</label>
      <textarea id="message" rows="3" [(ngModel)]="requestData.message" pInputTextarea></textarea>
    </div>
    <div class="p-field">
      <label for="totalAmount">Gesamtmenge</label>
      <input 
        type="number" 
        id="totalAmount" 
        [(ngModel)]="requestData.totalAmount" 
        [min]="selectedOffer?.offerDetails?.minAmount?.amount || 0" 
        [max]="selectedOffer?.offerDetails?.totalAmount || 0" 
        [step]="0.01" 
        pInputText 
        (keypress)="preventInvalidChars($event)"
      />
      <p>Verfügbare Menge: {{ selectedOffer?.offerDetails?.totalAmount?.amount }} {{ selectedOffer?.offerDetails?.totalAmount?.unit }}</p>
      <p>Mindestmenge: {{ selectedOffer?.offerDetails?.minAmount?.amount }} {{ selectedOffer?.offerDetails?.minAmount?.unit }}</p>
    </div>
    <div class="p-field">
      <label for="pricePerUnit">Preis pro Einheit:</label>
      <p>{{ requestData.pricePerUnit !== 'N/A' ? '€' + requestData.pricePerUnit : 'Auf Anfrage' }}</p>
    </div>
  </div>
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="Abbrechen" (click)="cancelRequest()"></button>
    <button type="button" pButton icon="pi pi-check" label="Senden" (click)="submitRequest()"></button>
  </p-footer>
</p-dialog>