<div class="container">
  <div class="flex mb-4 gap-2 justify-content-between">
    <div class="w-full">
      <input
        pInputText
        type="text"
        placeholder="Suche..."
        class="form-control w-full"
      />
    </div>
    <div class="flex gap-2">
      <p-button
        (onClick)="activeItem = items[0]"
        [rounded]="true"
        label="Dashboard"
        styleClass="w-10rem h-2rem p-0"
        [outlined]="activeItem !== items[0]"
      />
      <p-button

        [rounded]="true"
        label="Empfehlungen"
        styleClass="w-10rem h-2rem p-0 rbm-not-allowed"
        [outlined]="activeItem !== items[1]"
      />
      <p-button
        (onClick)="activeItem = items[2]"
        [rounded]="true"
        label="Season Calendar"
        styleClass="w-10rem h-2rem p-0"
        [outlined]="activeItem !== items[2]"
      />
    </div>
  </div>

  @switch (activeItem.label) {
    @case ("Dashboard") {
      <app-card-dashboard></app-card-dashboard>
    }
    @case ("Recommendations") {
      <app-card-dashboard></app-card-dashboard>
    }
    @case ("SeasonCalendar") {
      <app-seasonal-calendar></app-seasonal-calendar>
    }
  }
</div>
