<div class="w-full max-w-[1200px] mx-auto p-4">
  <!-- Navigation Icons -->
  <div class="flex justify-content-center align-items-center gap-3 mb-4">
    @for (item of items; track item.label) {
      <div 
        class="text-center p-3 border-round-lg cursor-pointer surface-card"
        (click)="setActiveItem(item)"
      >
        <div class="mb-2 p-3 border-round-xl surface-ground flex align-items-center justify-content-center" 
             [ngClass]="{'bg-primary': activeItem === item}">
          <i class="{{item.icon}} text-2xl" [ngClass]="{'text-white': activeItem === item}"></i>
        </div>
        <span class="text-sm block">{{item.label}}</span>
      </div>
    }
  </div>

  <!-- Main Content Area -->
  <div class="surface-card p-4 border-round">
      @switch (activeItem.label) {
        @case ("Übersicht") {
          <app-card-dashboard></app-card-dashboard>
        }
        @case ("Empfehlungen") {
          <app-matcher></app-matcher>
        }
        @case ("Saisonkalender") {
          <app-seasonal-calendar></app-seasonal-calendar>
        }
        @case ("Tops") {
          <app-card-tops></app-card-tops>
        }
      }
  </div>
</div>