<div class="header-container d-flex justify-content-between">
  <h4 class="text-green">My Recipes</h4>
  <button mat-fab extended routerLink=".">
    <mat-icon>add</mat-icon>
    Add
  </button>
</div>
<div class="d-flex gap-2 mt-4">
  <mat-form-field [formGroup]="form" style="width: 40%">
    <mat-label>Sortieren nach</mat-label>
    <mat-select panelClass="fit-content" class="w-100" formControlName="filter" multiple>
      <mat-select-trigger>
        {{ sortByArr[0].name }}
        @if ((sortByArr.length || 0) > 1) {
        <span class="example-additional-selection">
          (+{{ (sortByArr.length || 0) - 1 }}
          {{ sortByArr.length === 2 ? "other" : "others" }})
        </span>
        }
      </mat-select-trigger>
      @for (sortBy of sortByArr; track sortBy) {
      <mat-option [value]="sortBy.name" style="width: 422px">
        <img [src]="'assets/icons/' + sortBy.icon" alt="{{ sortBy.name }}" height="24">{{
        sortBy.name
        }}

      </mat-option>
      }
    </mat-select>
  </mat-form-field>
  <mat-form-field class="w-100">
    <input matInput value="Search" />
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Saisonstart</mat-label>
    <input matInput [matDatepicker]="datepickerSeasonStart" />
    <mat-datepicker-toggle matIconSuffix [for]="datepickerSeasonStart"></mat-datepicker-toggle>
    <mat-datepicker #datepickerSeasonStart>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>
          Apply
        </button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-form-field">
    <mat-label>Saisonende</mat-label>
    <input matInput [matDatepicker]="datepickerSeasonEnd" />
    <mat-datepicker-toggle matIconSuffix [for]="datepickerSeasonEnd"></mat-datepicker-toggle>
    <mat-datepicker #datepickerSeasonEnd>
      <mat-datepicker-actions>
        <button mat-button matDatepickerCancel>Cancel</button>
        <button mat-raised-button color="primary" matDatepickerApply>
          Apply
        </button>
      </mat-datepicker-actions>
    </mat-datepicker>
  </mat-form-field>
</div>