<!-- @if (loaded) {
  <div class="container">
    @if (dashboardComponents.length > 0) {
      <div #dashboardGrid class="dashboard-grid">
        @for (component of dashboardComponents; track component.type) {
          @if (component.type !== "public-recipes") {
            <div class="dashboard-item" [attr.data-id]="component.type">
              <div class="dashboard-item-handle">
                <i class="fas fa-grip-lines"></i>
                <h2>{{ component.title }}</h2>
              </div>
              <div class="dashboard-component">
                @switch (component.type) {
                  @case ("recent-menus") {
                    <div class="card-wrapper">
                      <p-card class="card card-my-recepies">
                        <div>
                          <ng-container
                            *ngFor="
                              let menu of recentMenus;
                              let i = index;
                              trackBy: trackByFn
                            "
                          >
                            <ng-container *ngIf="i < 3">
                              <p (click)="openMenuDetails(menu)">
                                {{ menu.name }}
                              </p>
                            </ng-container>
                          </ng-container>
                          <p-button
                            label="Zu meiner Menüplanung"
                            (click)="navigateToMenuPlanning()"
                          ></p-button>
                        </div>
                      </p-card>
                    </div>
                  }
                  @case ("company-recipes") {
                    <div class="card-wrapper">
                      <p-card class="card card-my-recepies">
                        <div>
                          <ng-container
                            *ngFor="
                              let item of companyRecipes;
                              let i = index;
                              trackBy: trackByFn
                            "
                          >
                            <ng-container *ngIf="i < 3">
                              <p (click)="openRecipeDetails(item)">
                                {{ item.recipeName }}
                              </p>
                            </ng-container>
                          </ng-container>
                          <p-button
                            label="Zu meinen Rezepten"
                            (click)="navigateToRecipes()"
                          ></p-button>
                        </div>
                      </p-card>
                    </div>
                  }
                  @case ("map") {
                    <div class="card-wrapper">
                      <p-card class="card">
                        <app-map
                          [lat]="mapLat"
                          [lng]="mapLng"
                          [offers]="offers"
                          [companies]="companies"
                          class="map-card"
                        ></app-map>
                      </p-card>
                    </div>
                  }
                  @case ("near-offers") {
                    <app-near-offers-card />
                  }
                  @case ("search") {
                    <app-search />
                  }
                  @case ("season-calendar") {
                    <app-season-calendar />
                  }
                }
              </div>
            </div>
          }
        }
      </div>
    } @else {
      <p>Loading dashboard components...</p>
    }

    <div class="side-scroll-container">
      <h2>Rezeptempfehlungen</h2>
      <div class="small-card-list-container">
        <div class="mb-2">
          <img width="40" height="40" src="assets/img/edit_note.svg" alt="" />
        </div>
        <div class="small-card-list">
          <ng-container
            *ngFor="let item of suggestedRecipes; trackBy: trackByFn"
          >
            <div class="small-card">
              <ng-container *ngIf="item.image_urls">
                <img
                  class="w-100 h-100"
                  [src]="item.image_urls[0]"
                  style="object-fit: fill"
                  alt="picture of the recipe"
                />
              </ng-container>
              <span class="" style="z-index: 999">{{ item.title }}</span>
            </div>
          </ng-container>
        </div>
      </div>
    </div>

    <p-dialog
      [(visible)]="displayRecipeDialog"
      [style]="{ width: '50vw' }"
      [modal]="true"
      [draggable]="false"
      [resizable]="false"
    >
      <ng-container *ngIf="selectedRecipe">
        <ng-template pTemplate="header"> Rezept Details </ng-template>
        <p><strong>Rezeptname:</strong> {{ selectedRecipe.recipeName }}</p>
        <p>
          <strong>Rezeptbeschreibung:</strong> {{ selectedRecipe.description }}
        </p>
      </ng-container>
    </p-dialog>

    <p-dialog
      [(visible)]="displayMenuDialog"
      [style]="{ width: '50vw' }"
      [modal]="true"
      [draggable]="false"
      [resizable]="false"
    >
      <ng-container *ngIf="selectedMenu">
        <ng-template pTemplate="header"> Menü Details </ng-template>
        <p><strong>Menüname:</strong> {{ selectedMenu.name }}</p>
        <p>
          <strong>Menübeschreibung:</strong> {{ selectedMenu.beschreibung }}
        </p>
        <p><strong>Portionen:</strong> {{ selectedMenu.portions }}</p>
      </ng-container>
    </p-dialog>
  </div>
  <div *ngIf="!loaded">Loading...</div>
} -->