<div class="container">
  <div class="card-list-container">
    <!-- 
    {{userType}} -->
    <div class="card-list">

      @if (userType == 'Erzeuger' || userType == 'Veredler')
      {

      <div class="card-wrapper">
        <h2>Beliebte Regionale Rezepte</h2>
        <mat-card class="card card-my-recepies">
          <mat-card-header>
            <mat-card-title>
              <div class="title-wrapper">
                <span>zur Vollansicht</span>
                <button mat-button>
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            @for (item of searchData; track $index) {
            <p (click)="openDetails(item)">{{item.title}}</p>
            }
          </mat-card-content>
        </mat-card>
      </div>
      <div class="card-wrapper">
        <h2>Auftragsübersicht</h2>
        <mat-card class="card card-my-recepies">
          <mat-card-header>
            <mat-card-title>
              <div class="title-wrapper">
                <span>zur Vollansicht</span>
                <button mat-button>
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Erz 1 - location - datum - status</p>
            <p>Erz 2 - location - datum - status</p>
            <p>Erz 3 - location - datum - status</p>
            <p>Erz 4 - location - datum - status</p>
            <p>Erz 5 - location - datum - status</p>
            <p>Erz 6 - location - datum - status</p>
            <p>Erz 7 - location - datum - status</p>
            <p>Erz 8 - location - datum - status</p>
          </mat-card-content>
        </mat-card>
      </div>
      }

      @if (userType == 'Veredler')
      {
      <div class="card-wrapper">
        <h2>Beliebte Regionale Erzeugnisse</h2>
        <mat-card class="card card-my-recepies">
          <mat-card-header>
            <mat-card-title>
              <div class="title-wrapper">
                <span>zur Vollansicht</span>
                <button mat-button>
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>erz 1</p>
            <p>erz 2</p>
            <p>erz 3</p>
            <p>erz 4</p>
            <p>erz 5</p>
            <p>erz 6</p>
            <p>erz 7</p>
          </mat-card-content>
        </mat-card>
      </div>

      }

      @if (userType == 'User')
      {
      <div class="card-wrapper">
        <h2>Meine Rezepte</h2>
        <mat-card class="card card-my-recepies">
          <mat-card-header>
            <mat-card-title>
              <div class="title-wrapper">
                <span>zur Vollansicht</span>
                <button mat-button>
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            @for (item of searchData; track $index) {
            <p>{{item.title}}</p>
            }
          </mat-card-content>
        </mat-card>
      </div>

      <div class="card-wrapper">
        <h2>Meine Menüplanung</h2>
        <mat-card class="card card-my-recepies">
          <mat-card-header>
            <mat-card-title>
              <div class="title-wrapper">
                <span>zur Vollansicht</span>
                <button mat-button>
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>KW</p>
            <p>KW</p>
            <p>KW</p>
            <p>KW</p>
          </mat-card-content>
        </mat-card>
      </div>


      <div class="card-wrapper">
        <h2>Produkte in meiner Region</h2>
        <mat-card class="card card-my-recepies">
          <mat-card-header>
            <mat-card-title>Produkte finden</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>name</p>
            <p>langer nam...</p>
            <p>name</p>
            <p>name</p>
          </mat-card-content>
        </mat-card>
      </div>

      <div class="card-wrapper">
        <h2>Produkte in meiner Region</h2>
        <mat-card class="card card-my-recepies">
          <mat-card-header>
            <mat-card-title>Produkte finden</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>name</p>
            <p>langer nam...</p>
            <p>name</p>
            <p>name</p>
          </mat-card-content>
        </mat-card>
      </div>
      }

      <div class="card-wrapper">
        <h2>Mein Name des Marktplatzes</h2>
        <mat-card class="card">
          <app-map class="map-card" />
        </mat-card>
      </div>

      <div class="card-wrapper">
        <h2>Community-Saisonkalender</h2>
        <mat-card class="card card-my-recepies">
          <mat-card-header>
            <mat-card-title>zur Vollansicht</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <div class="carousel-container">
              <button mat-button class="carousel-button left" (click)="scrollLeft()">
                <mat-icon>chevron_left</mat-icon>
              </button>
              <div class="carousel-content" #carousel>
                <mat-button-toggle-group name="ingredients" aria-label="Ingredients" multiple>
                  <mat-button-toggle value="januar">Jan</mat-button-toggle>
                  <mat-button-toggle value="februar">Feb</mat-button-toggle>
                  <mat-button-toggle value="märz">Mrz</mat-button-toggle>
                  <mat-button-toggle value="april">Apr</mat-button-toggle>
                  <mat-button-toggle value="mai">Mai</mat-button-toggle>
                  <mat-button-toggle value="juni">Jun</mat-button-toggle>
                  <mat-button-toggle value="juli">Jul</mat-button-toggle>
                  <mat-button-toggle value="august">Aug</mat-button-toggle>
                  <mat-button-toggle value="september">Sep</mat-button-toggle>
                  <mat-button-toggle value="oktober">Okt</mat-button-toggle>
                  <mat-button-toggle value="november">Nov</mat-button-toggle>
                  <mat-button-toggle value="dezember">Dez</mat-button-toggle>
                </mat-button-toggle-group>
              </div>
              <button mat-button class="carousel-button right" (click)="scrollRight()">
                <mat-icon>chevron_right</mat-icon>
              </button>
            </div>

            <p>Name Produkt</p>
            <p>Name Produkt</p>
            <p>Name Produkt</p>
          </mat-card-content>
        </mat-card>
      </div>

    </div>
  </div>


  <div class="side-scroll-container">
    <h2>Rezeptempfehlungen für mich</h2>
    <br>
    <div class="small-card-list-container">
      <button mat-button>
        <mat-icon>list</mat-icon>
      </button>
      <div class="small-card-list">

        @for (item of searchData; track $index)
        {
        <div class="small-card">{{item.title}}</div>
        }
        @for (item of searchData; track $index)
        {
        <div class="small-card">{{item.title}}</div>
        }
      </div>
    </div>
  </div>
</div>