@if (offerService.loaded) {
  <div class="container">
    <div class="card-list-container">
      <div class="card-list">
        <div class="card-wrapper">
          <h2>Meine Rezepte</h2>
          <mat-card class="card card-my-recepies">
            <mat-card-header>
              <mat-card-title>
                <div class="title-wrapper">
                  <span>zur Vollansicht</span>
                  <button mat-button>
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              @for (item of randomRecipes; track $index) {
                <p (click)="openDetails(item)">
                  {{ item.title }}
                </p>
              }
            </mat-card-content>
          </mat-card>
        </div>

        <div class="card-wrapper">
          <h2>Meine Menüpkanung</h2>
          <mat-card class="card card-my-recepies">
            <mat-card-header>
              <mat-card-title>
                <div class="title-wrapper">
                  <span>zur Vollansicht</span>
                  <button mat-button>
                    <mat-icon>add</mat-icon>
                  </button>
                </div>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>KW</p>
              <p>KW</p>
              <p>KW</p>
              <p>KW</p>
            </mat-card-content>
          </mat-card>
        </div>

        <div class="card-wrapper">
          <h2>Mein Name des Marktplatzes</h2>
          <mat-card class="card">
            <app-map
              [lat]="offerService.address.lat"
              [lng]="offerService.address.lon"
              class="map-card"
            />
          </mat-card>
        </div>

        <div class="card-wrapper">
          <h2>Community-Saisonkalender</h2>
          <mat-card class="card card-my-recepies">
            <mat-card-header>
              <mat-card-title>zur Vollansicht</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <div class="carousel-container">
                <button
                  mat-button
                  class="carousel-button left"
                  (click)="scrollLeft()"
                >
                  <mat-icon>chevron_left</mat-icon>
                </button>
                <div class="carousel-content" #carousel>
                  <mat-button-toggle-group
                    name="ingredients"
                    aria-label="Ingredients"
                    multiple
                  >
                    <mat-button-toggle value="januar">Jan</mat-button-toggle>
                    <mat-button-toggle value="februar">Feb</mat-button-toggle>
                    <mat-button-toggle value="märz">Mrz</mat-button-toggle>
                    <mat-button-toggle value="april">Apr</mat-button-toggle>
                    <mat-button-toggle value="mai">Mai</mat-button-toggle>
                    <mat-button-toggle value="juni">Jun</mat-button-toggle>
                    <mat-button-toggle value="juli">Jul</mat-button-toggle>
                    <mat-button-toggle value="august">Aug</mat-button-toggle>
                    <mat-button-toggle value="september">Sep</mat-button-toggle>
                    <mat-button-toggle value="oktober">Okt</mat-button-toggle>
                    <mat-button-toggle value="november">Nov</mat-button-toggle>
                    <mat-button-toggle value="dezember">Dez</mat-button-toggle>
                  </mat-button-toggle-group>
                </div>
                <button
                  mat-button
                  class="carousel-button right"
                  (click)="scrollRight()"
                >
                  <mat-icon>chevron_right</mat-icon>
                </button>
              </div>

              <p>Name Produkt</p>
              <p>Name Produkt</p>
              <p>Name Produkt</p>
            </mat-card-content>
          </mat-card>
        </div>

        <app-near-offers-card />

        <div class="card-wrapper">
          <h2>Produkte in meiner Region</h2>
          <mat-card class="card card-my-recepies">
            <mat-card-header>
              <mat-card-title>Produkte finden</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>name</p>
              <p>langer nam...</p>
              <p>name</p>
              <p>name</p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
    <div class="side-scroll-container">
      <h2>Rezeptempfehlungen für mich</h2>
      <br />
      <div class="small-card-list-container" style="padding: 24px">
        <div class="mb-2">
          <img width="40" height="40" src="assets/img/edit_note.svg" alt="" />
        </div>
        <div class="small-card-list">
          @for (item of suggestedRecipes; track $index) {
            <div class="small-card">
              @if (item.image_urls) {
                <img
                  class="w-100 h-100"
                  [src]="item.image_urls[0]"
                  style="object-fit: fill"
                  alt="picture of the recipe"
                />
              }

              <span class="" style="z-index: 999">{{ item.title }}</span>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
}
