@use '@angular/material' as mat;
@use 'sass:map';

@import 'node_modules/@swimlane/ngx-datatable/themes/material';

@include mat.core();

$dark-primary-text: rgba(black, 0.87);
$dark-secondary-text: rgba(black, 0.54);
$dark-disabled-text: rgba(black, 0.38);
$dark-dividers: rgba(black, 0.12);
$dark-focused: rgba(black, 0.12);
$light-primary-text: white;
$light-secondary-text: rgba(white, 0.7);
$light-disabled-text: rgba(white, 0.5);
$light-dividers: rgba(white, 0.12);
$light-focused: rgba(white, 0.12);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-dialog-container {
  --mdc-dialog-container-shape: 20px;
}

.mat-button.mat-success,
.mat-stroked-button.mat-success {
  color: #ffffff;
}
.mat-button.mat-success:hover,
.mat-stroked-button.mat-success:hover {
  background-color: #f0fff3;
}

.mat-raised-button.mat-success,
.mat-flat-button.mat-success,
.mat-fab.mat-success,
.mat-mini-fab.mat-success {
  color: #ffffff;
  background-color: #155724;
}

.mat-icon-button.mat-success {
  color:#155724;
}

$rbm-palette-accent: (
  50:   #e6f8e5,
  100:  #c3edc0,
  200:  #a0e09d,
  300:  #7fd37a,
  400:  #65c860,
  500:  #4dbd44,
  600:  #42ad3b,
  700:  #369b30,
  800:  #2b8926,
  900:  #146a13,
  A100: #146a13,
  A200: #146a13,
  A400: #146a13,
  A700: #146a13,
  contrast: (
    50:   #00632b,
    100:  #00632b,
    200:  #00632b,
    300:  #00632b,
    400:  #00632b,
    500:  #00632b,
    600:  #00632b,
    700:  #00632b,
    800:  #00632b,
    900:  #00632b,
    A100: #00632b,
    A200: #00632b,
    A400: #00632b,
    A700: #00632b,
  )
);

$rbm-palette-primary: (
  50: #e5f6eb,
  100: #bfe9ce,
  200: #C3EDC0,
  300: #67cd8f,
  400: #40c278,
  500: #00b661,
  600: #00a757,
  700: #00944a,
  800: #00833f,
  900: #00632b,
  A100: #00632b,
  A200: #00632b,
  A400: #00632b,
  A700: #00632b,
  contrast: (
    50:   #00632b,
    100:  #00632b,
    200:  #00632b,
    300:  #00632b,
    400:  #00632b,
    500:  #00632b,
    600:  #00632b,
    700:  #00632b,
    800:  #00632b,
    900:  #00632b,
    A100: #00632b,
    A200: #00632b,
    A400: #00632b,
    A700: #00632b,
  )
);

$my-primary: mat.define-palette($rbm-palette-primary, 200, 300, 700);
$my-accent: mat.define-palette($rbm-palette-accent, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette, 500);

$my-theme: mat.define-light-theme((
  color: (
    primary: $my-primary,
    accent: $my-accent,
    warn: $my-warn
  ),
  typography: mat.define-typography-config(),

  density: 0,
));

@include mat.all-component-themes($my-theme);

// Set the input field background color to #95DBAF
.mat-form-field .mat-form-field-flex {
  background-color: #95DBAF;
}
