:host {
  display: block;
  width: 100%;
}

.mdc-text-field  {
  background-color: #E2EDDB;
}

.mat-mdc-form-field-subscript-wrapper {
  display: none;
}

.mdc-menu-surface--open {
  background-color: #E2EDDB;
}
