<div class="container p-3">
  <form [formGroup]="form">
    <div class="row">
      <mat-form-field class="col-md-6">
        <mat-label>Name</mat-label>
        <input readonly formControlName="name" matInput />
      </mat-form-field>
      <mat-form-field class="col-md-6">
        <mat-label>Contact email</mat-label>
        <input formControlName="email" matInput />
      </mat-form-field>
    </div>
    <mat-divider />
    <div class="row mt-4">
      <mat-form-field class="col-12">
        <mat-label>Product name</mat-label>
        <input readonly formControlName="productName" matInput />
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="col-12">
        <mat-label>Description</mat-label>
        <textarea formControlName="productDescription" matInput></textarea>
      </mat-form-field>
    </div>
  </form>
</div>
