.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 5px;
}

.portion-tooltip {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  position: absolute;
  z-index: 10;
  display: inline-block;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  white-space: nowrap; /* This prevents text wrapping if needed */
}

.portion-item {
  display: block; /* Ensure each item is on its own line */
  margin-bottom: 5px; /* Optional: Add spacing between each item */
}

.portion-item:last-child {
  margin-bottom: 0; /* Remove spacing after the last item */
}
.alternative-note {
  color: blue;
  font-weight: bold;
  margin-right: 5px;
}

.optional-note {
  color: green;
  font-weight: bold;
  margin-right: 5px;
}


button:hover {
  border: 1px solid var(--rbm-sea-green);
}

.table-checkbox:checked {
  background-color: var(--rbm-sea-green);
  border-color: var(--rbm-sea-green);
  box-shadow: none;
}


.einkaufsliste-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin-top: 60px;

  button {
    border-radius: 5px;
  }

  div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  right {
    align-items: flex-end;
    button {
      width: fit-content;
    }
  }
  left {
    align-items: flex-start;
    padding: 0;
  }
}
.grouplist {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10px;
}

.normal-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--rbm-sea-green);
  border-radius: 8px;
}

.alternative-items {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid var(--rbm-sea-green);
  border-radius: 8px;
}