<div class="rbm-site-toolbar">
    <p-button class="first" routerLink="/menu-planning">Menüplanung</p-button>
    <p-button routerLink="/menu-planning/my-menus">Meine Menüs</p-button>
    <p-button routerLink="/menu-planning/shopping-list">Einkaufszettel</p-button>
    <p-button class="last">Angebotsliste</p-button>
</div>

<p-toast></p-toast>

<div class="einkaufsliste-actions">
    <br><br>
    <button pButton label="Einkaufszettel Erstellen" icon="pi pi-file" (click)="createShoppingList()"
        [disabled]="selectedMenuPlans.length === 0"></button>
</div>

<div *ngIf="loading || loadingRecipes || loadingLocalize" class="text-center">
    <p>{{ getLoadingMessage() }}</p>
    <p-progressSpinner></p-progressSpinner>
</div>

<p-table [value]="menuPlans" class="p-datatable-gridlines" *ngIf="!loading">
    <ng-template pTemplate="header">
        <tr>
            <th><input type="checkbox" (change)="toggleSelectAll($event)" /></th>
            <th>Menüs</th>
            <th>Nächste Ausführung</th>
            <th>Wochentag</th>
            <th>Ort</th>
            <th>Portionen gesamt</th>
            <th>Wiederholung</th>
            <th>Einkaufen?</th>
            <th>Komponenten</th>
            <th>Details</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-menuPlan>


        <tr>
            <td><input type="checkbox" [(ngModel)]="menuPlan.selected" (change)="updateSelectedMenuPlans()" /></td>
            <td>{{ menuPlan.name }}</td>
            <td>{{ menuPlan.nextExecution }}</td>
            <td>{{ menuPlan.weekday }}</td>
            <td>{{ menuPlan.location }}</td>
            <td>
                <span (mouseover)="showPortionDetails(menuPlan)" (mouseout)="hidePortionDetails()">
                    {{ getTotalPortions(menuPlan) }}
                </span>
                <div class="portion-tooltip" *ngIf="hoveredMenuPlanId === menuPlan.id">
                    <span *ngIf="menuPlan.portions > 0" class="portion-item">
                        <i class="pi pi-users"></i> {{ menuPlan.portions }} Regular
                    </span>
                    <span *ngIf="menuPlan.portionsVegetarisch > 0" class="portion-item">
                        <i class="pi pi-apple"></i> {{ menuPlan.portionsVegetarisch }} Vegetarisch
                    </span>
                    <span *ngIf="menuPlan.portionsVegan > 0" class="portion-item">
                        <i class="pi pi-globe"></i> {{ menuPlan.portionsVegan }} Vegan
                    </span>
                </div>
            </td>
            <td>{{ getTranslatedRepeatFrequency(menuPlan.repeatFrequency) }}</td>
            <td>
                <button pButton icon="pi pi-shopping-cart" (click)="onBuyClick(menuPlan)"></button>
            </td>
            <td>
                <button [disabled]="loadingRecipes" pButton icon="pi pi-chevron-down"
                    (click)="toggleExpandMenuPlan(menuPlan.id)" *ngIf="expandedMenuPlanId !== menuPlan.id"></button>
                <button [disabled]="loadingRecipes" pButton icon="pi pi-chevron-up"
                    (click)="toggleExpandMenuPlan(menuPlan.id)" *ngIf="expandedMenuPlanId === menuPlan.id"></button>
            </td>
            <td>
                <button pButton (click)="gotoDetails(menuPlan)"></button>
            </td>
        </tr>
        <tr *ngIf="expandedMenuPlanId === menuPlan.id">
            <td colspan="9">
                <div *ngFor="let recipe of recipesWithIngredients[menuPlan.id]">
                    <h5>{{ recipe.recipeName }}</h5>
                    <div *ngFor="let ingredient of recipe.ingredients" class="ingredient-item">
                        <span>{{ ingredient.amount }} {{ getUnitLabel(ingredient.unit) }} {{
                            getLocalizedLabel(ingredient.name) }}</span>
                        <p-multiSelect [options]="processingOptions" [(ngModel)]="ingredient.processing"
                            placeholder="Verarbeitung auswählen">
                        </p-multiSelect>
                        <button pButton icon="pi pi-shopping-cart" (click)="onBuyIngredientClick(ingredient)"></button>
                    </div>
                    <div *ngIf="recipe.ingredients.length === 0">Keine Zutaten</div>
                </div>
                <div *ngIf="recipesWithIngredients[menuPlan.id].length === 0">Keine Rezepte</div>
            </td>
        </tr>
    </ng-template>
</p-table>

<p-dialog [(visible)]="displayShoppingListDialog" [modal]="true" [header]="'Einkaufsliste'" [closable]="true">
    <p-table [value]="getGroupKeys()" class="p-datatable-gridlines">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Menge (Gesamt)</th>
                <th>Menge (Einzel)</th>
                <th>Einheit</th>
                <th>Verarbeitung</th>
                <th>Rezept</th>
                <th>Aktionen</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-groupName>
            <tr>
                <td colspan="7"><strong>{{ getLocalizedLabel(groupName) }}</strong></td>
            </tr>
            <tr *ngFor="let item of groupedShoppingList[groupName]; let i = index">
                <td></td>
                <td><strong>{{ item.totalInLargestUnit }}</strong></td>
                <td>
                    <div *ngFor="let process of getProcessingTypes(item)">
                        <input pInputText type="number" [value]="item.processingBreakdown[process]"
                            (change)="updateAmount(item, process, $event)" />
                        <div *ngIf="item.errorMessages && item.errorMessages[process]" class="error-message">
                            {{ item.errorMessages[process] }}
                        </div>
                    </div>
                </td>
                <td><strong>{{ getUnitLabel(item.unit) }}</strong></td>
                <td>
                    <div *ngFor="let process of getProcessingTypes(item)">
                        <span>{{ process !== 'n/a' ? process : 'keine Angabe' }}</span>
                    </div>
                </td>
                <td>{{ uniqueSourceRecipes(item.sourceRecipes) }}</td>
                <td>
                    <div *ngFor="let process of getProcessingTypes(item); let pIdx = index">
                        <button pButton icon="pi pi-trash" (click)="deleteIngredient(groupName, process, i)"></button>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <button pButton label="Einkaufsliste speichern" icon="pi pi-save" (click)="saveShoppingList()"
        [disabled]="isGroupedShoppingListEmpty()"></button>
</p-dialog>